body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRARQFhgsJVBDJQnG7wBH_JnZxc6LTwfujTaw&s");
    background-size: auto; 
    background-repeat: repeat; 
    background-position: top left; 
    margin: 0;
    padding: 0;
}


.shop-container {
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 20px;
    color: rgb(9, 1, 1);
    text-align: center;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    justify-content: center;
    padding: 10px; 
    max-width: 900px; 
    margin: 0 auto; 
}



.product-card {
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    width: 220px;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.add-to-cart-btn {
    background: #ff9800;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 16px;
}

.add-to-cart-btn:hover {
    background: #e68900;
    transform: scale(1.05);
}

.cart-container {
    margin-top: 30px;
    background: rgba(242, 241, 241, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    background: rgba(239, 237, 237, 0.748);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.remove-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover {
    background: darkred;
}

.buy-now-btn {
    background: green;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.buy-now-btn:hover {
    background: darkgreen;
    transform: scale(1.05);
}

.exit-btn {
    background: rgb(22, 22, 22);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.exit-btn:hover {
    background: darkgray;
    transform: scale(1.05);
}
